#pokebag {
	height: 300px;
}

#pikachu, #squirtle, #jelly, #dots {
	height: 100px;
}

.pokemon {
	display: inline;
}

button {
	 float: left;
    position: absolute;
}

.addPoke {
	top: 35%;
    left: 60%;
}