#pokebag {
	height: 300px;
}

#pikachu, #squirtle, #jelly, #dots {
	height: 100px;
}

.pokemon {
	display: inline;
}

button {
	 float: left;
    position: absolute;
}
.pokeForm {
	margin-top: -35%;
    margin-left: 45%;
    border-radius: 5px;
    position: absolute;
    border: 1px solid brown;
    padding: 5%;
}

.pokeDetails {
/*	left: 50%;
    background: red;
    position: absolute;
    top: 94%; */
    display: none;
}

 .itemImg:hover + .pokeDetails{
 	display: block;
}

.addPoke {
/*	top: 35%;
    left: 60%;*/
}

.itemImg {
	height: 100px;
	padding: 2%;
}

.food-options {
	margin-left: 25%;
    margin-top: -10%;
}

.pokebag-content {
	/*margin-left: 50%;*/
}

/*p {
	float: left;
}*/

.notes {
	position: absolute;
	float: left;
	margin-left: 50%;
    margin-top: -25%;
    line-height: 1.5;
}